<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164440615692-o9shsme9behbnjrim3o4jemk3mc599nb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164440615692-o9shsme9behbnjrim3o4jemk3mc599nb</string>
	<key>API_KEY</key>
	<string>AIzaSyB47Jt9q7odiDJFZUral5OCzSN9uxjjEdY</string>
	<key>GCM_SENDER_ID</key>
	<string>164440615692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hoxtoncapital.clientportal</string>
	<key>PROJECT_ID</key>
	<string>hoxton-stage</string>
	<key>STORAGE_BUCKET</key>
	<string>hoxton-stage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164440615692:ios:d63cee3fcf5e8da8fe3729</string>
</dict>
</plist>